body {
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: rgb(255, 153, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 1.2em
}

.emptyStorage{
    width: 50px;
    height: 50px;
    background-image: url('https://media3.giphy.com/media/vRd8SoeIiZRoA/200w.gif');
    background-size: 50px;
}

.chuck {
    height: 50px;
    width: 50px;
    background-image:url("https://media1.giphy.com/media/xUA7b7HlZTcBqmUnFm/200w.gif");
    background-size: 50px;
}

.boxToMove {
    height: 50px;
    width: 50px;
    background-image:url("https://media0.giphy.com/media/jSEH6MmUQYgg/200w.gif");;
    background-size: 113%;
}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    background-image: url("https://media3.giphy.com/media/issHYYSN6OW3K/200w.gif");
    background-size: 2%;
    animation-duration: .5s;
}

.blank {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
}

.row {
    display: flex;
    flex-basis: 1;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    align-items: center;
}

#player {
    left: 200px;
    top: 200px;
    background-image: url("https://media1.giphy.com/media/UfWNh56hWaleo/200w.gif");
    background-size: 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


